[submodule "ui/ariesUI"]
	path = ui/ariesUI
	url = https://github.com/AryanRai/AriesUI
[submodule "int/StarSim"]
	path = int/StarSim
	url = https://github.com/AryanRai/StarSim.git
[submodule "int/chyappy"]
	path = int/chyappy
	url = https://github.com/AryanRai/chyappy.git
