
body {
    margin: 0;
    padding: 100px;
    position: relative;
  }


#container {
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  .box {
    height: 500px;
    width: 500px;
    position: absolute;
    background: rgba( 74, 144, 226, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    background: linear-gradient( 135deg, rgba( 74, 144, 226, 0.2 ) 55%, rgba( 31, 38, 135, 0.37 ) 100% );
    
   
  
  }
  
  .box2 {
    height: 500px;
    width: 500px;
    position: absolute;
    background: rgba( 74, 144, 226, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  
  [grid-cell] {
    position: absolute;
    border: 1px solid #444;
    width: 49px;
    height: 49px;
    visibility: hidden;
  }